@keyframes shine {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.text-clip {
  display: inline-block;
  font-size: 80px;
  line-height: 0.9;
  padding: 20px;
  font-family: 'Syncopate', sans-serif;
  text-transform: uppercase;
  background-color: #9aa8b3;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 6rem,
    white 11rem,
    transparent 11.15rem,
    transparent 15rem,
    rgba(255, 255, 255, 0.3) 20rem,
    transparent 25rem,
    transparent 27rem,
    rgba(255, 255, 255, 0.6) 32rem,
    white 33rem,
    rgba(255, 255, 255, 0.3) 33.15rem,
    transparent 38rem,
    transparent 40rem,
    rgba(255, 255, 255, 0.3) 45rem,
    transparent 50rem,
    transparent 100%
  );
  background-size: 150% 100%;
  background-repeat: repeat-x;
  animation: shine 5s infinite linear;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.text-clip-wave {
  position: relative;
  display: inline-block;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
}

.text-clip-wave::before,
.text-clip-wave::after {
  content: '';
  position: absolute;
  top: -963px;
  left: 50%;
  width: 2000px;
  height: 2000px;
  border-radius: 45% 48% 43% 47%;
  transform: translate(-50%, -50%);
  background: #fff;
  animation: rotate 10s infinite linear;
  z-index: 1;
  mix-blend-mode: difference;
}

.text-clip-wave::after {
  border-radius: 43% 47% 44% 48%;
  animation: rotate 10s infinite 0.5s linear;
}